<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EP_WordPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EP_WordPlugin.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPass" serializeAs="String">
                <value />
            </setting>
            <setting name="Entropy" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveUserAndPass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangeStyle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="URL_KONWERTER" serializeAs="String">
                <value />
            </setting>
            <setting name="URL_KONWERTER_BACKUP" serializeAs="String">
                <value />
            </setting>
            <setting name="URL_OTWARTE_REPOZYTORIUM_TRESCI" serializeAs="String">
                <value />
            </setting>
        </EP_WordPlugin.Properties.Settings>
    </userSettings>
</configuration>